<div class="columns border-top">


<h1 class="hero-title text-center">Listings</h1>


<%
=begin%>
 <div class="column is-2 bg-light">
  <div class="pl3 pr1">
    <%= render 'panel' %>
  </div>
</div> 
<%
=end%>

<div class="cotainer">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 m-5">
    <% @listings.each do |listing|%>
      <div class="col">
        <div class="card border-success h-100">
          
            <div class="card-body">
              <h4 class="card-title">
                <%= listing.name%>
              </h4>
              <h5 class="card-subtitle text-muted">
                Added <%= time_ago_in_words(listing.created_at)%> ago
              </h5>
              <p class="card text text-secondary text-truncated"><%= listing.description%></p> 
              <p class="card text text-secondary">Size:<%= listing.size%></p>
              <div class="d-flex justify-content-between">
                <%= link_to  "More details", listing , class:"btn btn-outline-success" %>
                $<%= listing.price%>
              </div>
            </div>
          
        </div>
      </div>
    <%end%>
  </div>
</div>
</div>