<div class="columns border-top">


<h1 class="hero-title text-center">Listings</h1>
<br/>
<br/>

<div class="class ='d-flex justify-content-evenly'">
  <div class="pl3 pr1">
    <%= render 'panel' %>
  </div>
</div>  

<hr /> 


<div class="cotainer">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 m-5">
    <% @listings.each do |listing|%>
      <div class="col-sm-8 col-md-6">
        <div class="card border-success h-100">
          <%= image_tag listing.picture, class: "card-img top thumbnail" if listing.picture.attached?  %>
            <div class="card-body">
              <h4 class="card-title">
                <%= listing.name%>
              </h4>
              <h5 class="card-subtitle text-muted">
                Added <%= time_ago_in_words(listing.created_at)%> ago
              </h5>
              
              <p class="text-dark text-truncated"><%= listing.description%></p> 
              <p class=" text-dark">Size:<%= listing.size%></p>
              <div class="d-flex justify-content-between">
              <% if user_signed_in? %>
                 <%= link_to "More details", listing, class:"btn btn-outline-success" %>
              <% else %>
                <%= link_to  "More details", new_user_session_path , class:"btn btn-outline-success" %>
              <% end %>
                $<%= listing.price%>
              </div>
            </div>
          
        </div>
      </div>
    <%end%>
  </div>
</div>

<br />
                <hr />
                <footer>    
                  <div class="footer-bottom text-center">
                      <p>Designed by: VinBT 🌳</p>
                      <p>Privacy Policy</p>
                  </div>
                </footer>
</div>